<section class="callOut">
    <div style="background-image:url({{restaurant.image}}); position: static;  background-size: cover; min-height:250px; max-height: 750px; height: 100%; background-position: center center;">
        <div class="miniCard" >
            <h2 class="centerText">{{restaurant.name}}</h2>
            <a class="editRestaurant CRUD" href="/restaurants/{{restaurant.id}}/editRestaurant">✎</a>
            <a class="deleteRestaurant CRUD" href="/restaurants/{{restaurant.id}}/deleteRestaurant">╳</a>
        </div>

        <div class = "backButton">
            <a href="../restaurants">
                <h5>Back to all restaurants.</h5>
            </a>
        </div>
    </div>
    <div class="addMenu">
        <form action="/restaurants/{{restaurant.id}}/menus" method="POST">
            <label for="title" >New Menu:</label><br>
            <input  class="inputBox" type="text" id="title" name="title" placeholder="Brunch"><br>
            <input  class="inputBox" type="hidden" name="restaurant_id" value="{{restaurant.id}}">
            <button>Create Menu</button><br>
        </form>
    </div>
</section>
<aside class="menuItems">
        {{#each menus}}
            <h3 > {{this.title}}</h3>
            <div class="options">
            <a class="editMenu CRUD" href="/restaurants/{{../restaurant.id}}/menus/{{this.id}}/editMenu">✎</a>
            <a class="deleteMenu CRUD" href="/restaurants/{{../restaurant.id}}/menus/{{this.id}}/deleteMenu">╳</a>
            </div>
        <dl style="padding:5px;">
            {{#each this.items}}
                <dt>{{this.name}}</dt>
                <dd>{{this.price}}</dd>
            {{/each}}
        </dl>
        {{/each}}
</aside>


